example/
Makefile
Makefile.in
*.o
*.Po
src/*
!*.cc
scripts/0651/*
m4/*
!m4/pgplot.m4
doc/*.html
doc/html
config*
aclocal.m4
compile
depcomp
install-sh
INSTALL
ltmain.sh
Makefile
autom4te.cache/*
libtool
stamp-h1
missing
errors
*~


